.home{
    max-width: 1000px;
    margin: 30px auto;
}
.home .pending{
    background-color: #f1f0f0;
    color: #84c225;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-style: italic;
}
.home .error{
    background-color: #f1f0f0;
    color: #c22525;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-style: italic;
}
.home .error_message{
     font-style: normal;
}
.home .products{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 300px;
    gap: 12px;
}
.home .products .product{
    border: 2px solid transparent;
}
.home .products .product:hover{
    border: 2px solid rgb(207, 207, 207);
}
