nav{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 3px 0 #0000001a;
}

nav .company-logo{
    margin: 5px 0px;
    background-image: url(../images/bb_logo.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 75px;
}
nav .search{
    display: flex;
    margin-top: 33px;
}
nav .search input{
    padding-left: 10px;
    padding-right: 420px;
    height: 30px;
    border: 1px solid #888;
    color: #222;
    font-size: 14px;
}
nav .search input:focus{
    outline: none;
    border: 1px solid #84c225;
}
nav .search button{
    background-color: #84c225;
    border: 1px solid #84c225;
    height: 32px;
    width: 35px;
}
nav .cart_navbar{
    margin: 5px 0px;
    background-color: #f2f2f2;
    border: 1px solid #e6e5e5;
    padding: 12px;
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    border-radius: 8px;
}
nav .cart_navbar .cart_image{
    padding: 5px;
}
nav .cart_navbar .text{
    padding: 5px;
    font-weight: bold;
    font-size: 13px;
    color: #535353;
    letter-spacing: 0.1px;
}
.cart_items{
    display: none;
    position: absolute;
    background-color: #e0e0e0;
    border: 1px solid #b9b9b9;
    top: 94%;
    right: 4.5%;
}
.cart_items.active{
    display: block;
    
}

@media screen and (max-width: 768px){
    nav .search input{
        padding-right: 130px;
    }
    nav .cart_navbar{
        padding: 8px;
        padding-top: 3.5%;
    }
    nav .cart_navbar .text{
        line-height: 15px;
        padding: 2px;
        font-weight: bold;
        font-size: 11px;
    }
    .cart_items{
        right: 2.5%;
    }   
}
@media screen and (max-width: 480px){
    nav .company-logo{
        background-image: url(../images/bb-icon.png);
        background-repeat: no-repeat;
        width: 45px;
        height: 45px;
    }
    nav .search{
        margin-top: 7px;
    }
    nav .search input{
        padding-left: 5px;
        padding-right: 15px;
        height: 37px;
    }
    nav .search button {
        height: 40px;
    }
    nav .cart_navbar{
        padding: 2px;
    }
    nav .cart_navbar .cart_image{
        padding: 8px 3px;
        width: 26px;
        height: 24px;
    }
    nav .cart_navbar .text{
        line-height: 15px;
        padding: 2px;
        font-size: 10px;
    }
    .cart_items{
        right: 1.5%;
    }
}