.notfound{
    max-width: 1100px;
    margin: 20px auto;
    background-color: #f1f0f0;
    border-radius: 10px;
}
.notfound h2{
    color: #333333;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}
.notfound p{
    color: #333333;
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 768px){
    .notfound{
        max-width: 700px;
    }
}
@media screen and (max-width: 480px){
    .notfound{
        max-width: 400px;
    }
}
